
/*
    site colors:
    garagehammer yellow: #ecb81e
    garagehammer red: #721212
    garagehammer brown: #634f4f
*/

/*
    Settings to create a surrounding background effect and controlled width on all page content.
*/
body {
    background-color: #721212;
    margin: 0;
    font-size: 1.05rem;
    font-family: sans-serif;
}
.container {
    background-color: #d6d0bd;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 0;
}

/*
    Creating a banner with background image and logo in front
*/
.container .banner{
    width: 100%;
    height: 200px;
    background-color: #ecb81e;
    display: grid;
    grid-template-areas:
                "logo"
                "unsplash";
    background-image: url("../images/jack-b-hRwrvvZHk70-unsplash.jpg");
    background-size: cover;
    background-position: center;
}
/*Styling for logo image*/
.container .banner a:nth-child(1) {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    margin: 0 0 0 0;
}
.container .banner img {
     width: 300px;
     display: inline-block;
     background-color: rgba(208, 214, 211, 0.65);
     border-radius: 50px;
     padding: 0 10px 10px 0;
 }
/*Styling for unsplash logo to provide attribution for banner image.*/
.container .banner a:nth-child(2) {
    grid-area: unsplash;
    align-self: end;
    justify-self: end;
}



main > article, main > section {
    padding: 1em 10%;
}
main > section img, main > article img {
    width: 50%;
    display: block;
    margin: 0 3%;
}
main > section h2:first-child, main > article h2:first-child {
    padding-top: 0;
}
main > section h2, main > article h2 {
    padding-top: 2rem;
}

/*general settings to remove padding around menu lists*/
nav ul {
    margin: 0;
    padding: 0;
}

/*Removes list-item styling from header nav */
header nav {
    padding-left: 2%;
    background: linear-gradient(white 0%, silver 100%);
    transition: left ease-in 0s, padding ease-in 0s;
    left: 7%;
}
header nav.sticky {
    padding-left: 7%;
    padding-right: 7%;
    position: fixed;
    top: 0;
    left: 0;
    width: 86%;
    transition: left linear 200ms, padding linear 200ms;
}
header nav input {
    visibility: hidden;
    display: none;
}
header nav ul {
    display: flex;
    flex-flow: wrap;
    position: relative;
    justify-content: space-evenly;
    padding-bottom: .5rem;
}
header nav li {
    display: inline;
    border: black solid 1px;
    border-radius: 25px;
    margin-top: .5rem;
}
header nav li a {
    padding: .5rem 1rem;
    display: inline-block;
    text-decoration: none;
    color: black;
}
header nav li ul {
    display: block;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: visibility 200ms 300ms linear, opacity 200ms 300ms linear;
    background-color: #4a4a4a;
    padding: 0;
    border-radius: 0;
    margin-top: .5rem;
    margin-left: .25rem;
}
header nav li ul li {
    background-color: #721212;
    padding: .25rem 0;
    margin: .5rem 0;
    display: block;
    border: none;
    border-radius: 0;
    transition: background-color 500ms ease;
}
header nav li ul li a{
     margin: 0;
     padding: .25rem 1rem;
     color: white;
     text-decoration: none;
 }
header nav li:hover ul, header nav li input:checked ~ ul {
    visibility: visible;
    opacity: 1;
    transition: none;
}
header nav li:hover ul li:hover {
    background-color: #ecb81e;
}


/*Styling for side nav within */
main nav {
    width: 90%;
    margin: 0 auto 0 auto;
}
main nav li {
    display: block;
    padding: 0;
    margin: .5rem 0 .5rem 10px;
    border-top: black solid 1px;
}
main nav h2.image-list + ul li {
    display: inline-block;
    border: none;
    width: 25%;
    align-content: center;
}
main nav h2.image-list + ul li a{
}
main nav h2.image-list + ul li img {
    width: 100%;
    background-color: black;
}
main a{
    font-size: 1.2rem;
    color: #4a4a4a;
    transition: color ease 200ms;
    text-decoration: none;
}
main a:hover {
    color: #721212;
}



footer {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: small;
    font-weight: bold;
}



/*  Ipad Landscape width and above to target wider screens.
    All settings above for non css3 compliant browsers and phones.
    Settings below use grid layout form.
 */

@media (min-width: 780px) {
    .container {
        width: 80%;
        margin: 0 auto 0 auto;
    }

    .container .banner {
        grid-template-areas:
                "logo ......."
                "logo unsplash";
    }
    .container .banner a:nth-child(1) {
        margin: 0 0 0 30px;
        justify-self: start;
    }
    .container .banner img {
        width: 500px;
    }
    header nav.sticky {
        padding-left: 12%;
        padding-right: 12%;
        width: 76%;
    }
    header nav ul {
        justify-content: start;
        padding: 0;
        margin: 0;
    }
    header nav li {
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        border-right: black solid 1px;
    }
    header nav li:first-child {
        border-left: black solid 1px;
    }

    main {
        display: grid;
        grid-template-areas: "sect ..." "sect nav";
        grid-template-rows: 6em auto;
        grid-template-columns: 3fr 1fr;
    }

    main > nav {
        grid-area: nav;
        justify-content: center;
        margin: 0;
    }

    main > article, main > section {
        grid-area: sect;
        display: grid;
        grid-template-areas: "head" "body";
        grid-template-rows: auto;
        padding: 3em 10%;
    }

    main > section > header, main > article > header {
        grid-area: head;
    }

    main > section > section, main > article > section {
        grid-area: body;
    }
}

@media (hover: none) {
    header nav label {
        display: inline-block;
        position: relative;
        border: 1px solid black;
        border-radius: 100%;
        margin: .25rem 1rem .25rem -.5rem;
        padding: .15rem .5rem .25rem .5rem;
        transition: transform ease 1s;
    }
    header nav input:checked ~ label {
        transform: rotateX(180deg);
    }
    header nav input {
        opacity: 0;
        position: absolute;
        top: -2rem;
        left: -2rem;
        visibility: visible;
        display: inline-block;
        cursor: pointer;
    }
}